@use '../../assets/scss/variables';

.terminada{
    text-decoration: line-through;
}

.container{
    margin: 16px 0;
    background-color: variables.$negro10;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    .btns{
        display: flex;
        column-gap: 8px;
    }
    & div:first-child{
    
      
        input[type="checkbox"]{
            height: 24px;
            width: 24px;
            margin-right: 8px;
            &+p{
                margin: 0;
                font-size: 24px;
            }
        }
     
    }
    div{
        display: flex;
        align-items: center;
    }
    
}

@media (max-width: 576px){
   
    .container div:first-child input[type="checkbox"]+p{
        font-size: 15px;
    }

   
}

