form{
    display: flex;
    justify-content: center;
    margin: 23px 0;
}

form input{
    width: 215px;
    height: 25px;
    padding: 5px;
    border: 1px solid black;
    margin-right: 5px;
}

form button{
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: 80px;
}