
@use '../assets/scss/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



.dark_mode{
    --body-backgrount-color: #{variables.$negro};
    --negro-blanco: #{variables.$blanco};
    --negro10-blanco10: #{variables.$blanco20};
    --negro50-blacno50:#{variables.$blanco50};
}

.light_mode{
    --body-backgrount-color: #{variables.$blanco};
    --negro-blanco: #{variables.$negro};
    --negro10-blanco10: #{variables.$negro10};
    --negro20-blanco20: #{variables.$blanco20};
    --negro50-blacno50:#{variables.$negro50};
}

.container{
    background-color: var(--body-backgrount-color);
    padding: 10% 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    > hr{
        background-color: var(--negro-blanco);
        height: 1px;
        margin:0;
    }
}

@media (max-width: 576px){
    .container{
        width: 300px;
        
    }
}