
@use '../assets/scss/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.container{
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: auto;
    > hr{
        background-color: black;
        height: 1px;
        margin:0;
    }

    
    app-add-tarea{
        position: sticky;
        top: 24px;
   
    }

    :first-child{
        margin: 8px 8px 0 0;
        align-self: flex-end;
    }

}

@media (max-width: 576px){
    .container{
        width: 300px;
        
    }
}