@use '../../assets/scss/variables';

header{
   
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 8px;
    > h1{
        color: var(--negro-blanco);
        margin: 0;
        font-size: 36px;
    }
    :first-child + div{
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 576px){
   
    header{
        h1{
            font-size: 25px;
           }

    }

   
}